---
import Menu from "./Menu.vue";
---

<div
    class="w-full h-[3rem] bg-red-200 flex items-center px-[1rem] border-b-[1px] border-black relative"
>
    <text class="text-[1.5rem] leading-none">MINIAPPLE TEAM</text>
    <Menu class="ml-auto" client:load />
</div>
