---
const { class: className } = Astro.props;
---

<button
    class={`h-[2rem] w-[2rem] relative transition-all ${className}`}
>
    <div id="menu-icon" class="menu-icon"></div>
</button>

<script>
    const button = document.querySelector("button");
    const icon:HTMLDivElement = document.querySelector("#menu-icon")
    button.addEventListener('click', () =>{
        icon.className = "menu-icon clicked"
    })
</script>
<style>
    menu-icon{
        
    }

    .menu-icon {
        @apply bg-white w-[1.8rem] h-[0.2rem] block transition-all absolute top-[0.3rem] left-[0.1rem] outline outline-1;
    }

    .menu-icon::before {
        content: "";
        @apply bg-white w-[1.8rem] h-[0.2rem] block transition-all absolute top-[0.6rem] outline outline-1;
    }

    .menu-icon::after {
        content: "";
        @apply bg-white w-[1.8rem] h-[0.2rem] block transition-all absolute top-[1.2rem] outline outline-1;
    }
    
    button:hover{
        transform: scale(0.9);
    }

    .clicked {
        transform: translateY(0.6rem) rotate(45deg);
    }

    .clicked::before {
        transform: translateY(-0.6rem) rotate(-90deg);
    }
    .clicked::after{
        transform: translateY(-1.2rem) rotate(-90deg);
    }

</style>
